.cuadrosPapa {
  border: 2px solid black;
  position: relative;
  width: 400px;
  height: 400px;
  margin: 25px;
}

.cuadrosHijo {
  border: 2px solid black;
  width: 250px;
  height: 250px;
  position: absolute;
}

.cuadrosHijito {
  border: 2px solid black;
  width: 125px;
  height: 125px;
  position: absolute;
}

#padre {
  background-color: red;
}

#padre2 {
  background-color: blue;
}

#hijo {
  background-color: purple;
}

#hijo2 {
  background-color: green;
}

#hijito {
  background-color: yellow;
}

#hijito2 {
  background-color: black;
}
